# TARGER
### ignore files due to size
corpus_processing/datasets
corpus_processing/out
miners/targer_instance/models
miners/targer_instance/lstm/embeddings

### ignore input/output folders due to volatility
backend/instance/**
miners/targer_instance/data/in
miners/targer_instance/data/out
miners/targer_instance/lstm/data/NER/

### ignore external repository
corpus_processing/standoff2conll


# IDEA project folder
.idea


# python internals
**/__pycache__
**/venv
**/venv36
