# TARGER
### ignore files due to size
backend/corpus_processing/datasets
backend/corpus_processing/out
backend/targer_instance/models
backend/targer_instance/lstm/embeddings

### ignore input/output folders due to volatility
backend/instance/**
backend/data_static/**
backend/targer_instance/data/in
backend/targer_instance/data/out
backend/targer_instance/lstm/data/NER/

### ignore external repository
backend/corpus_processing/standoff2conll

### ignore log files
backend/backend_root.log
backend/corpus_processing/backend_corpus.log
backend/targer_instance/backend_targer.log


# IDEA project folder
.idea


# python internals
**/__pycache__
**/venv
**/venv36
