.upload-wrapper {
    padding: 0 10%;
    display: block;
}

.upload-input > input {
    color: white;
}

.upload-section {
    margin-top: 24px;
}

.upload-warning {
    color: red;
    font-weight: bold;
    font-style: italic;
}
