.upload-wrapper {
    display: block;
    width: 100%;
    padding: 0 5%;

    h3.section {
        position: relative;
        top: -40px;
    }
}

.upload-input > input {
    color: white;
}

.upload-section {
    margin-top: 24px;
}

.upload-warning {
    color: red;
    font-weight: bold;
    font-style: italic;
}
