@import "variables";

.app-header {
  display: flex;
  align-items: flex-end;

  width: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $backgroundColor;
  background-image: url("../images/header_img.jpg");

  color: white;
  font-size: calc(10px + 2vmin);
}
