@import "variables";

.lawrgminer {
  padding: 0 10%;
  background-color: $backgroundColorMiner;
  font-family: Poppins, sans-serif;
}

.miner-input {
  display: flex;

  .input-textarea {
    margin-right: 10%;
    width: 100%;
    height: 100%;

    & > textarea {
      display: block;

      width: 100%;
      height: 100%;
    }

    & > button {
      margin-top: 1rem;
    }
  }

  button .input-btn-text {
    display: flex;
    align-items: center;

    & > span:first-child {
      margin-right: 8px;
    }
  }
}

.miner-results {
  .miner-results-list {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .result-list-claim {
    display: flex;
    align-items: center;
    position: relative;

    padding: 5px;
    line-height: 2;
    border: 1px solid transparent;
    border-radius: 5px;

    color: white;
    background-color: darkgoldenrod;
    white-space: pre-line;

    &:focus,
    &:hover {
      border: 1px solid white;
    }
  }

  .result-list-premise {
    display: flex;
    align-items: center;
    position: relative;

    padding: 5px;
    line-height: 2;
    border: 1px solid transparent;
    border-radius: 5px;

    color: white;
    background-color: rebeccapurple;
    white-space: pre-line;

    &:focus,
    &:hover {
      border: 1px solid white;
    }
  }

  .list-container .dx-scrollable-wrapper {
    margin-top: 16px;
  }

  .miner-results-claims {
    margin-left: 10%;
    margin-right: 5%;

    & > h5 {
      color: white;
      background-color: darkgoldenrod;
      border-radius: 5px;
      padding: 5px;
      text-align: center;
    }
  }

  .miner-results-premises {
    margin-right: 10%;

    & > h5 {
      color: white;
      background-color: rebeccapurple;
      border-radius: 5px;
      padding: 5px;
      text-align: center;
    }
  }

  .miner-results-text{
    margin-top: 32px;
  }

  .miner-results-export-btn {
    margin-top: 32px;
  }
}

.results-separator {
  margin-top: 60px;
  margin-bottom: 0;
  padding-bottom: 24px;
}

.block-text {
  padding: 3px 2px;
  margin-right: 4px;
  border-radius: 8px;

  line-height: 2;
  color: white;
}

.block-claim {
  background-color: darkgoldenrod;
}

.block-premise {
  background-color: rebeccapurple;
}
