// shared styles
@import "scss/shared";
@import "scss/variables";

// layout styles
@import "scss/app";
@import "scss/header";
@import "scss/footer";

// component styles
@import "scss/file-upload";
@import "scss/lawrgminer";
@import "scss/report-section";

@font-face {
    font-family: "Poppins";
    src: local("Poppins"), url(./fonts/Poppins/Poppins-Regular.ttf) format("truetype");
}

// globally applicable styles
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
        "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
